.wrapper {
    box-sizing: border-box;
    background-image: src='assets./img_0060.jpeg';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}