.container {
    background-color: rgba(4, 110, 96, 0.301);
    /* font-family: 'Permanent Marker', cursive;
    font-weight: lighter; */
    text-shadow: 1px 1px 1px hotpink;
    height: auto;
    max-width:95%;
    border-style: solid;
    border-color: hotpink;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.527);
    padding: 10px;
}